
@import url('../homepage/EasiestWay.css');
.bank-details{
    background-color: #d3dbe4;
}
.bank-details h1{
    color: #253243;
}

.bank-details-form , .aadhaar-details-form , .bank-details .financial-btns {
    width: 80%;
  }

.bank-input  select , .bank-input input {
    width: 258px;
    border: 1px solid rgb(185, 185, 185);
}

@media (max-width:420px){
      
    .bank-input  select , .bank-input input{
        width: 270px;
        border: 1px solid rgb(185, 185, 185);
    }
}

@media (max-width:337px){
      
    .bank-input  select , .bank-input input{
        width: 210px;
        border: 1px solid rgb(185, 185, 185);
    }
}

@media (max-width:670px){
      
    .bank-details-form , .aadhaar-details-form  , .bank-details .financial-btns  {
        width: 96%;
      }
}
.add-bank{
  width: 100%;
}

.add-btn{
    background-color:  #09345a;
}




  
  .get-button{
      background-color: #09345a;
      
  }
  .continue-btn{
      background-color: var(--primary-color);
  }
  
  .back-btn{
      border: 1px solid var(--primary-color);
  }
  .text-blue{
    color: var(--third-color);
  }
  .get-button{
      width: 220px;
       height: 50px;
   }
   .continue-btn{
       width: 220px;
       height: 50px;
   }
  


   .Aadhar-input input{
    width: 50%;
    border: 1px solid rgb(185, 185, 185);
   }

   .Aadhar-input{
    width: 100%;
   }

   @media (max-width:530px){
      
    .Aadhar-input input{
        width: 100%;
        border: 1px solid rgb(185, 185, 185);
       }
    
}

.remove-bank{
    width: 100%;
}
.bg-blue{
    background-color: var(--primary-color);
}