@import url('EasiestWay.css');

.section5-heading , .section5-p{
    color: #253243;
}
.first-box{
   background-color: #5585B6;
}
.section5-box-2{
    width: 380px !important;
    border: 1px solid rgb(222, 222, 222);
}
.section5-box-sameline{
    width: 650px ;
    border: 1px solid rgb(222, 222, 222);
}
.section5{
    background: linear-gradient(180deg, #eff7fb 0, #f8fafc 100%);
}

@media only screen and (max-width: 1015px) {
    .section5-box-sameline{
        width: 100%;
        
    }
 }

 .text-blue{
    color: var(--third-color);
 }