.basic-details{
    background-color: #d3dbe4;
}
.financial-form input , .financial-form .year{
    border:  1px solid rgb(163, 163, 163);
   }
   
   .basic-details-form{
       width: 80%;
   }

.input1{
    width: 30%;
}   

.input1 input{
    border: 1px solid rgb(185, 185, 185);
    width: 100%;
}

.input2{
    width: 30%;
}   

.input2 input{
    border: 1px solid rgb(185, 185, 185);
    width: 100%;
}

.custom-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #38a169 !important; /* green-700 color */
    border-radius: 50%;
    outline: none;
    cursor: pointer;
  }
  
  .custom-radio:checked {
    background-color: #ffffff !important; /* green-700 color */
    border: 2px solid #38a169 !important; /* green-700 color */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custom-radio:checked::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: #38a169;
    border-radius: 50%;
    margin: auto;
  }

  /* Style for custom checkbox */
/* Style for custom checkbox */
.custom-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px !important;
    height: 20px !important;
    border: 2px solid #38a169; /* green-700 color */
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
  }
  
  .custom-checkbox:checked {
    background-color: #38a169; /* green-700 color */
    border: 2px solid #38a169; /* green-700 color */
  }
  
  .custom-checkbox:checked::after {
    content: '✓'; /* Checkmark character */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; /* White color for the checkmark */
    font-size: 14px; /* Adjust font size as needed */
  }
  
  .note {
    background-color: #e8f9e6;;
  }

  .whatsapp{
    background-color: #f0f2f5;
  }

  .financial-btns{
    width: 79%;
}

.get-button{
    background-color: #09345a;
}
.continue-btn{
    background-color: #197E37;
}

.back-btn{
    border: 1px solid #197E37;
}
@media (max-width:940px){
    .financial-btns{
        width: 90%;
    }
    .financial-form{
        width: 90%;
    }
    .basic-details-form{
        width: 95%;
    }
}
.get-button{
   
    height: 50px;
}
.continue-btn{
  
    height: 50px;
}
@media (max-width:462px){
    .get-button{
        width: 100%;
        height: 50px;
    }
    .continue-btn{
        width: 100%;
        height: 50px;
    }
}

@media (max-width:650px){
    .input1{
        width: 90%;
    }   
    
    .input2{
        width: 90%;
    }   
    
}
