@import url('../homepage/EasiestWay.css');

.login-Form{
    background: #fafafa;
}
.login-heading{
    font-family: Inter, sans-serif;;
}

.login-Form input{
    border: 1px solid rgb(211, 211, 211)
}
.forget-p{
    color: var(--third-color);
}
.login-btn{
    background-color: var(--primary-color);
}
.sign-green{
    color: var(--third-color);
}
.refunds , .return-filling{
    color: #969696;
}