

/* .financial-details{
    background: url("https://tax2win.in/assets-new/img/new-theme/diy-flow/soi-bg-new.png") left top no-repeat;;
} */
.financial-form input{
 border:  1px solid rgb(163, 163, 163);
}

.financial-form{
    width: 60%;
}
.input-1{
    width: 50%;
}
.input-2{
    width: 49%;
}

.financial-btns{
    width: 60%;
}

.get-button{
    background-color: #09345a;
}
.continue-btn{
    background-color: #197E37;
}

.back-btn{
    border: 1px solid #197E37;
}

.needSupport{
    background-color: #197e37;
}